.flex {
    display: flex;
    justify-content: center;
}
.circle {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
}

